@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://db.onlinewebfonts.com/c/6b15181f635d273250f11c60af056016?family=Black+Tulip+ITC+Std");
@tailwind base;
@tailwind components;
@tailwind utilities;
.hamburger {
  width: 24px;
  height: 24px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: black;
  transform: rotate(0);
  transition: all 0.5s;
  background-color: #fff;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
#pukka {
  color: #fff;
  font-family: "Black Tulip ITC Std";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.48px;
}
.innovation {
  font-family: "Roboto Condensed", sans-serif;
  color: #d8d7d7;
  font-size: 10px;
  font-style: normal;
  font-weight: light;
  line-height: 100%;
  letter-spacing: 2.3px;
}
#optimizing {
  text-align: center;
  font-family: "Eudoxus Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px; /* 170% */
  letter-spacing: -1px;
}
#idea {
  font-family: "Eudoxus Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: -1.4px;
}
.underline {
  position: absolute;
  top: 4rem;
  left: 23rem;
}
@media screen and (max-width: 767px) {
  #optimizing {
    text-align: center;
    font-family: "Eudoxus Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 85px; /* 170% */
    letter-spacing: -1px;
    margin-bottom: -2rem;
  }
  #idea {
    font-family: "Eudoxus Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.4px;
    margin-left: 0.3rem;
  }
  .underline {
    position: absolute;
    top: 3.5rem;
    left: 11.5rem;
  }
}
@media screen and (min-width: 976px) {
  #optimizing {
    text-align: center;
    font-family: "Eudoxus Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 85px; /* 170% */
    letter-spacing: -1px;
  }
  #idea {
    font-family: "Eudoxus Sans";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.4px;
  }
  .underline {
    position: absolute;
    top: 4.5rem;
    left: 32rem;
  }
  .for {
    font-size: 40px;
  }
}

.image_overlay {
  z-index: 0;
}

#global {
  font-family: "Eudoxus Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: -1.5px;
}
#innovate {
  color: #f60;
  font-family: "Eudoxus Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: -1.5px;
  margin-left: 0.3rem;
}

@media screen and (max-width: 767px) {
  #global {
    font-family: "Eudoxus Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.5px;
  }
  #innovate {
    color: #f60;
    font-family: "Eudoxus Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.5px;
  }
}
@media screen and (min-width: 976px) {
  #global {
    font-family: "Eudoxus Sans";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.5px;
  }
  #innovate {
    color: #f60;
    font-family: "Eudoxus Sans";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.5px;
  }
}
#paragraph {
  color: rgba(175, 171, 171, 0.8);
  text-align: center;
  font-family: "Eudoxus Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.5%;
  letter-spacing: -0.36px;
}

@media screen and (min-width: 767px) {
  #paragraph {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: "Eudoxus Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.5%;
    letter-spacing: -0.36px;
  }
}
#circle {
  background-color: rgba(43, 43, 43, 0.7);
}
#puk {
  text-align: center;
  font-family: "Clash Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
  letter-spacing: -0.36px;
}

#span_bracket {
  color: #dc7c00;
  font-family: "Clash Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.36px;
  margin-left: 0.5rem;
}
.p-adjective {
  color: #0cf;
  font-family: "Gilroy-SemiBoldItalic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.36px;
}

@media screen and (min-width: 767px) {
  #puk {
    font-size: 22px;
  }
  .p-adjective {
    font-size: 22px;
  }
}
.one {
  color: #f60;
  font-family: "Clash Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: start;
  /* margin-top: 1.2rem; */
}
.one_span {
  color: white;
  font-family: "Clash Display";
}
.two {
  color: #f60;
  font-family: "Clash Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: start;
  margin-top: 1rem;
}
.three {
  color: #f60;
  font-family: Clash Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: start;
  margin-top: 1rem;
}
.p_origin {
  color: #fff;
  font-family: "Clash Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media screen and (min-width: 767px) {
  .one_span {
    font-size: 20px;
    /* margin-top: 1rem; */
  }
  .one {
    font-size: 22px;
    line-height: 2rem;
  }
  .two {
    font-size: 22px;
    line-height: 1.5rem;
  }
  .three {
    font-size: 22px;
    line-height: 1.5rem;
  }
}

#rocket_background {
  border-radius: 8px;
  background: #716d6d;
}
.empty {
  margin-left: 0.2rem;
  width: 95px;
  margin-top: 0.1rem;
  height: 3px;
  background: #716d6d;
}
.desc {
  background-color: blue;
  width: 600px;
  height: 415px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;

  /* opacity: 0; */
  /* backdrop-filter: blur(5px); */
}
.card-description {
  width: 100%;
  overflow-wrap: break-word;
}
.slider {
  animation: slide 30s linear infinite;
}
.marquee {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;

  -webkit-mask: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
  mask: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.marquee-group {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  width: 100%;
  animation: slide 30s linear infinite;
}
.image-group {
  display: grid;
  place-items: center;
  width: clamp(10rem, 1rem + 40vmin, 30rem);
  padding: calc(clamp(10rem, 1rem + 30vmin, 30rem) / 10);
}
.marquee-group2 {
  display: grid;
  place-items: center;
  width: clamp(10rem, 1rem + 40vmin, 30rem);
  padding: calc(clamp(10rem, 1rem + 30vmin, 30rem) / 10);
}
.logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  /* border: 1px solid black; */
  border-radius: 0.5rem;
  aspect-ratio: 16/9;
  padding: 5px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-width: 767px) {
  #marquees {
    display: none;
  }
}

@keyframes slide {
  from {
    left: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* .container {
  max-width: 1200px;
  width: 95%;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
/* @media only screen and (max-width: 1023px) { */
/* .slider-wrapper .slide-button { */
/* display: none !important; */
/* } */
/* .slider-wrapper .image-list { */
/* gap: 10px; */
/* margin-bottom: 15px; */
/* scroll-snap-type: x mandatory; */
/* } */
/* .slider-wrapper .image-list .image-item { */
/* width: 280px; */
/* height: 380px; */
/* } */
/* .slider-scrollbar .scrollbar-thumb { */
/* width: 20%; */
/* } */
/* } */
:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  /* background-color: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900); */
}

.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

/* .scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
} */

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
